/* this applies to whole body */
*{
    margin: 0%;
}
body{ 
    color:#540d6e;
    background-color:#fac768;
    font-family:  Verdana,Tahoma, Geneva, sans-serif;
}
/* This is Company Name */
#header1{
    background-color:yellow;
    padding-top: 2vh;
    padding-bottom: 2vh; 
    width: 100vw;
    display:inline-block;
}
#item0{
    font-size:3vw;
    text-decoration: none;
    color:#540d6e;
    text-align:left;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#img{
    position: absolute;
    width: 7vw;
    top:.2vh;
    right:1vw;
}
/* This is navigation bar */
#header2{
    display:inline-block;
    color:yellow;
    background-color: #0f1111;
    height:1.5vw;
    width: 100vw;
    padding: .5vh 0vw .5vh 0vw;
    text-align: left;
    margin-bottom: 20px;
}
.heada{
    text-decoration:none;
    font-size:90%;
    color:yellow;
    padding-right: 9.5vw;
    padding-left: 9.5vw;
    border-right:#ffffff .3vw ridge;
}
#button1{
    margin-left: 9.5vw;
    height:20px;
    width:70px;
    color: white;
    background-color: #000000;
    border: 1px ridge yellow;
}
#button2{
    height:20px;
    width:70px;
    color:white;
    background-color: #000000;
    border: 1px ridge yellow;
}
/* this is body main */
ul {
    list-style-type:georgian;
    padding: 0;
    margin-left: 5%;
}
li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    font-weight: 200;
    font-size:25px;
    margin-bottom: 10px;
    padding-left: 5%;
    list-style-type: disc;
}
.misvis{
    display:inline-block;
    width:80%;
    text-align: justify;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 50px;
    padding-bottom: 50px;
    line-height: 37px;
}
/* This is footer */
#shape{   
    border-color:#0f1111 ;
    border-style: ridge;
    background-color:#ffffff;
    padding-bottom:20px;
    text-align:center;
    padding-top: 20px;
    padding-bottom:5px;
}
/* social media contacts */
.contacts {
    margin-right:100px;
    margin-left:100px;
}
/* ending text */
#text{
    font-family:'Courier New', Courier, monospace;
    font-size: larger;
    color:#290338;
    padding-bottom: 0%;
    margin-bottom: 0px;
}